@import './variables.styles.scss';

@mixin colors() {
  &--active {
    border: 3px solid rgba(0, 0, 0, 0.2);
  }

  &--beige {
    background-color: bisque;
  }
  &--dark-beige {
    background-color: burlywood;
  }
  &--grey {
    background-color: grey;
  }
  &--white {
    background-color: rgb(245, 236, 225);
  }

  &--black {
    background-color: rgb(75, 75, 75);
  }
}

@mixin collection-grid() {
  display: grid;
  margin: 0 auto 5rem;
  padding: 0 1rem;
  align-content: top;

  @media only screen and (max-width: $bp-medium) {
    margin: 0 auto 3rem;
    margin-top: $header-height-small;
  }
  @media only screen and (max-width: $bp-small) {
    margin: 0 auto;
    margin-top: $header-height-small;
  }

  &__title {
    font-size: $large-font-size;
    font-weight: normal;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 4rem;
    align-self: top;
  }

  &__menu {
    text-align: center;
    color: grey;

    a {
      text-decoration: none;
      color: black;
    }
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 5rem;
    margin-bottom: 4rem;
    align-content: center;

    @media only screen and (max-width: $bp-large) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media only screen and (max-width: $bp-small) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@mixin sideMenu() {
  position: fixed;
  height: 100%;
  width: 40%;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  z-index: 110;
  background-color: white;
  visibility: hidden;
  animation-fill-mode: backwards;
  animation: menuDisappear 0.5s ease;

  &--active {
    visibility: visible;
    animation: menuAppear 0.5s ease;
  }

  @keyframes menuAppear {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes menuDisappear {
    0% {
      visibility: visible;
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
      visibility: hidden;
    }
  }

  @media only screen and (max-width: $bp-medium) {
    width: 60%;
  }
  @media only screen and (max-width: $bp-small) {
    width: 100%;
  }
}

@mixin sign() {
  &__form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    margin: 2rem auto;
  }

  &__input {
    padding: 0.5rem;
    border: none;
    border-bottom: 1px solid #999;
    transition: border 0.3s linear;
    font-size: $medium-font-size;
    margin-bottom: 5rem;

    &:focus {
      outline: none;
      border-bottom: 1px solid #111;
    }
  }

  &__label {
    padding: 0.5rem;
    color: #999;
    font-size: 1.4rem;
    cursor: text;
  }
}

@mixin plug() {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $medium-font-size;
  min-height: 60vh;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@mixin togglingHeart() {
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease-out;

  &:active {
    transform: scale(90%);
  }

  &--active {
    color: $red-color;
  }
}
