$header-height-big: 10rem;
$header-height-small: 8rem;

$default-font-size: 1.6rem;
$medium-font-size: 2rem;
$big-font-size: 2.5rem;
$large-font-size: 3rem;
$icon-font-size: 2.5rem;

$red-color: #dc143c;

// RESPONSIVE BREAKPOINTS
$bp-large: 75em; // 1200px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 21.25em; // 340px
