@import '../../sass/mixins.styles.scss';
@import '../../sass/variables.styles.scss';

.header {
  height: $header-height-big;
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 3rem;
  background-color: #fff;
  width: 100%;

  @media only screen and (max-width: $bp-medium) {
    position: fixed;
    z-index: 10000;
    height: $header-height-small;
  }
  @media only screen and (max-width: $bp-small) {
    padding: 0 2rem;
  }
  @media only screen and (max-width: $bp-smallest) {
    padding: 0 1.5rem;
  }

  &__title {
    font-size: $large-font-size;
    font-weight: normal;
    justify-self: center;
    color: #111;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    align-self: center;
    cursor: pointer;

    @media only screen and (max-width: $bp-small) {
      display: none;
    }

    &--small {
      display: none;
      font-size: $large-font-size;
      font-weight: normal;
      justify-self: center;
      color: #111;
      letter-spacing: 0.5rem;
      text-transform: uppercase;
      text-decoration: none;
      white-space: nowrap;
      align-self: center;

      @media only screen and (max-width: $bp-small) {
        display: block;
      }
    }
  }
}
